<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="Email Unit Tests">
            <directory>./Test/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./Controller</directory>
            <directory suffix=".php">./Cron</directory>
            <directory suffix=".php">./Model</directory>
            <directory suffix=".php">./Mail</directory>
        </include>
    </source>
    <php>
        <ini name="date.timezone" value="UTC"/>
        <ini name="xdebug.max_nesting_level" value="200"/>
    </php>
</phpunit>
