<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Magento_Backend::marketing_communications">
                        <resource id="Swissup_Email::master" title="Swissup Email" sortOrder="10" >
                            <resource id="Swissup_Email::service" title="Mail Service" sortOrder="40">
                                <resource id="Swissup_Email::service_save" title="Save Service" sortOrder="10" />
                                <resource id="Swissup_Email::service_delete" title="Delete Service" sortOrder="20" />
                            </resource>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Swissup_Email::config_service" title="Email"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>