<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>

        <section id="system" translate="label" type="text" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="smtp" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="service" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Transport Email Service</label>
                    <source_model>Swissup\Email\Model\Service\Source\Service</source_model>
                    <config_path>email/default/service</config_path>
                    <comment>Select email service</comment>
                </field>
                <field id="addService" translate="label comment" type="button" sortOrder="16" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>Swissup\Email\Block\System\Config\Form\Field\Button\Add</frontend_model>
                    <comment>Use button in order to create new email service.</comment>
                </field>
                <field id="log" translate="label" type="select" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logging Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>email/default/log</config_path>
                </field>
            </group>
        </section>
    </system>

</config>
